doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/css/style.css")
    body 
        h1 Your F#¢∞ results
        a(href="/") Home
        form(action="/scrap", method="post")
            label(for="query") Query
            input(type="text", name="query", id="query")  
            button(type="submit") Buscar 
        section(id="data")
            each producto in data 
                article 
                    img(src=producto.image)
                    p
                        b= producto.title
                    p= producto.price + "€"
                    p= producto.shop 
                    p= producto.query
                    a(href=producto.url) Ver producto   